<!DOCTYPE html>

<html>

<head>
    <link rel="icon" href="img/cloud.jfif">
    <link rel="stylesheet" href="/css/styles.css" />
</head>

<body>
    <div class="main-content">
        <title>About</title>
        {{>header}}
        <p>This site was created by Arpit Chauhan. It uses data from mapbox.com and darksky.net!</p>
        <img class="portrait" src="/img/beach.jpg" alt="" />
    </div>
    {{>footer}}
</body>

</html>